CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y

# ESP32-S3R8 octal PSRAM (framebuffer lives here)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096

# Hermes defaults (override in menuconfig)
CONFIG_HERMES_WIFI_SSID="roger7459"
CONFIG_HERMES_WIFI_PASSWORD="Sharry22#%"
CONFIG_HERMES_IOT_ENDPOINT="acp99wijypwjp-ats.iot.us-east-1.amazonaws.com"
CONFIG_HERMES_USER_ID="saksham"
CONFIG_HERMES_THING_NAME="hermes-device"
CONFIG_HERMES_UI_CONSOLE=n
